#maraTitle {

	font-family: cursive;
	font-weight: bold;
	color: blanchedalmond;
}

#maraLogo {
  margin: 0 auto;

}

h1 small{
	 color: orange;
}

/*
.img-responsive{
  float: left;
  height: 163px;
  padding: 15px 15px;
}
*/

.first-bd{
  background-color: #1d2023;
}
.contact-bd{
	margin: 77px;
}
.page-header {
  text-align: center;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: hidden;
 }
.users-table{
	margin-top: 20px;
	background: white;
}
/*img {
  float: left;
  height: 100px;
  padding: 15px 15px;
 }*/
.navbar-brand{
  float: right;
}